@media only screen and (max-width: 1400px)
body.custom_shirt_template .content-grid .generation-container .shirt-container {
    height: 80%;
    top: 15%;
}


element.style {
    z-index: 1;
}
body.custom_shirt_template .content-grid .generation-container .shirt-container img {
    position: absolute;
    top: 0;
    right: 100px;
    padding: 0;
    max-height: 100%;
}
img {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}



element.style {
    z-index: 5;
}
body.custom_shirt_template .content-grid .generation-container .shirt-container img {
    position: absolute;
    top: 0;
    right: 100px;
    padding: 0;
    max-height: 100%;
}
img {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}


element.style {
    z-index: 6;
}
body.custom_shirt_template .content-grid .generation-container .shirt-container img {
    position: absolute;
    top: 0;
    right: 100px;
    padding: 0;
    max-height: 100%;
}
img {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}


element.style {
    z-index: 9;
}
body.custom_shirt_template .content-grid .generation-container .shirt-container img {
    position: absolute;
    top: 0;
    right: 100px;
    padding: 0;
    max-height: 100%;
}
img {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}


element.style {
    z-index: 8;
}
body.custom_shirt_template .content-grid .generation-container .shirt-container img {
    position: absolute;
    top: 0;
    right: 100px;
    padding: 0;
    max-height: 100%;
}
img {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}


element.style {
    z-index: 11;
}
body.custom_shirt_template .content-grid .generation-container .shirt-container img {
    position: absolute;
    top: 0;
    right: 100px;
    padding: 0;
    max-height: 100%;
}
img {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}



element.style {
    z-index: 7;
}
body.custom_shirt_template .content-grid .generation-container .shirt-container img {
    position: absolute;
    top: 0;
    right: 100px;
    padding: 0;
    max-height: 100%;
}
img {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}


element.style {
    z-index: 8;
}
body.custom_shirt_template .content-grid .generation-container .shirt-container img {
    position: absolute;
    top: 0;
    right: 100px;
    padding: 0;
    max-height: 100%;
}
img {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}


element.style {
    z-index: 3;
}
body.custom_shirt_template .content-grid .generation-container .shirt-container img {
    position: absolute;
    top: 0;
    right: 100px;
    padding: 0;
    max-height: 100%;
}
img {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}


element.style {
    z-index: 4;
}
body.custom_shirt_template .content-grid .generation-container .shirt-container img {
    position: absolute;
    top: 0;
    right: 100px;
    padding: 0;
    max-height: 100%;
}
img {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}